.header {
  background-color: var(--qwik-dark-purple);
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: var(--grid-columns);
}

.logo {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0,0,0,0.2);
  font-size: 70px;
  display: flex;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
}
