.footer {
  background-color: var(--qwik-dark-blue);
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 200;
  grid-column: 1 / -1;
  grid-row: 3;
}

.footer a {
  color: #fff;
}
