@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.icon {
  font-size: 25vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fadeOut {
  animation: fade 1s linear forwards;
}
